<link rel="stylesheet" href="../style.css">
<form method="post" action="/manufacturers/<%= @manufacturer.id %>">
  <table class="table">
    <td>
      <label for="manufacturer-name-field">Name</label>
      <input
      type="text"
      name="name"
      id="manufacturer-name-field"
      value="<%= @manufacturer.name %>"
      />
    </td>
    <td>
      <label for="category-field">Category</label>
        <select name="category" id="category-field">
          <option value="flour"
          <%= "selected" if @manufacturer.category == "Flour"%>
          >Flour</option>
          <option value="Fruit"
          <%= "selected" if @manufacturer.category == "Fruit"%>
          >Fruit</option>
          <option value="Grain"
          <%= "selected" if @manufacturer.category == "Grain"%>
          >Grain</option>
          <option value="Herbs"
          <%= "selected" if @manufacturer.category == "Herbs"%>
          >Herbs</option>
          <option value="Honey"
          <%= "selected" if @manufacturer.category == "Honey"%>
          >Honey</option>
          <option value="Nuts"
          <%= "selected" if @manufacturer.category == "Nuts"%>
          >Nuts</option>
          <option value="Oil"
          <%= "selected" if @manufacturer.category == "Oil"%>
          >Oil</option>
          <option value="Vegetable"
          <%= "selected" if @manufacturer.category == "Vegetable"%>
          >Vegetable</option>
        </select>
      </td>
    <td>
      <label for="contact-details-field">Contact details</label>
      <input
      type="text"
      name="contact_details"
      id="contact-details-field"
      value="<%= @manufacturer.contact_details %>"
      />
    </td>
  </table>
  <input type="submit" value="Save">
</form>