<link rel="stylesheet" href="/style.css">
<h2 class="stock">Edit Manufacturer</h2>
<form method="post" action="/manufacturers/<%= @manufacturer.id %>">
  <table class="table" style="width:100%">
    <td>
      <label for="manufacturer-name-field">Name</label>
      <input
      type="text"
      name="name"
      id="manufacturer-name-field"
      value="<%= @manufacturer.name %>"
      required
      />
    </td>
    <td>
      <label for="category-field">Category</label>
        <select name="category_id" id="category-field" required>
          <% @categories.each do |category| %>
          <option value=<%= category.id %> <%= "selected" if @manufacturer.category_id == category.id %> ><%= category.name%></option>
          <% end %>
        </select>
      </td>
    <td>
      <label for="contact-details-field">Contact details</label>
      <input
      type="text"
      name="contact_details"
      id="contact-details-field"
      value="<%= @manufacturer.contact_details %>"
      required
      />
    </td>
  </table>
  <div class="save-button">
    <input type="submit" value="Save">
  </div>
</form>