<link rel="stylesheet" href="/style.css">
<h2 class="stock">Edit product</h2>
<form method="post" action="/products/<%= @product.id %>">
  <table class="table" style="width:100%">
    <td>
      <label for="product-name-field"></label>
      <input
      type="text"
      name="name"
      id="product-name-field"
      value="<%= @product.name %>"
      required
      />
    </td>
    <td>
      <label for="category-field"></label>
        <select name="category" id="category-field" required>
          <option value="Flour"
          <%= "selected" if @product.category == "Flour"%>
          >Flour</option>
          <option value="Fruit"
          <%= "selected" if @product.category == "Fruit"%>
          >Fruit</option>
          <option value="Grain"
          <%= "selected" if @product.category == "Grain"%>
          >Grain</option>
          <option value="Herbs"
          <%= "selected" if @product.category == "Herbs"%>
          >Herbs</option>
          <option value="Honey"
          <%= "selected" if @product.category == "Honey"%>
          >Honey</option>
          <option value="Nuts"
          <%= "selected" if @product.category == "Nuts"%>
          >Nuts</option>
          <option value="Oil"
          <%= "selected" if @product.category == "Oil"%>
          >Oil</option>
          <option value="Vegetable"
          <%= "selected" if @product.category == "Vegetable"%>
          >Vegetable</option>
        </select>
    </td>
    <td>
    <label for="units-field">Units</label>
        <select name="units" id="units-field" required>
          <option value="kg" <%= "selected" if @product.units == "kg"%>>kg</option>
          <option value="l" <%= "selected" if @product.units == "l"%>>l</option>
          <option value="t" <%= "selected" if @product.units == "t"%>>t</option>>
          <option value="lbs" <%= "selected" if @product.units == "lbs"%>>lbs</option>
          <option value="g" <%= "selected" if @product.units == "g"%>>g</option>
        </select>
    </td>
    <td>
      <label for="stock_level-field">Stock level</label>
      <input
      type="number"
      name="stock_level"
      id="stock_level-field"
      value="<%= @product.stock_level %>"
      required
      />
    </td>
    <td>
      <label for="manufacturer-field"></label>
        <select name="manufacturer_id" id="manufacturer-field" required>
          <% @manufacturers.each do |manufacturer| %>
          <option value=<%= manufacturer.id %> ><%= manufacturer.name %></option>
          <% end %>
        </select>
      </td>
    <td>
      <label for="buying_price-field">Buying price</label>
      <input
      type="float"
      name="buying_price"
      id="buying_price-field"
      value="<%= @product.buying_price%>"
      required
      />
    </td>
    <td>
      <label for="markup-field">Markup</label>
      <input
      type="float"
      name="markup"
      id="markup-field"
      value="<%= @product.markup %>"
      required
      />
    </td>
  </table>
  <div class="save-button">
    <input type="submit" value="Update">
  </div>
</form>

