<h1 class="stock">Stock list</h1>
<div class="filter">Sort by category
  <label for="category-field"></label>
    <select name="category" id="category-field">
      <option selected disabled>Select category</option>
          <% @products.each do |product| %>
          <option value=<%= product.category %>><%= product.category%></option>
          <% end %>
    </select>
</div>
<table class="table" style="width:100%">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Category</th> 
      <th>Units</th>
      <th>Stock level</th>
      <th>Manufacturer</th>
      <th>Buying price</th>
      <th>Markup</th>
      <th>Retail price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><a class="link" href="/products/<%= product.id %>"><%= product.name %></a></td>
      <td><%= product.category %></td>
      <td><%= product.units %></td>
    <% if product.stock_level.to_i > 0 && product.stock_level.to_i <= 5 %>
      <td class="low"><%= product.stock_level %></td>
    <% elsif product.stock_level.to_i == 0 %>
      <td class="nostock">Not in stock</td>
    <% else %>
      <td><%= product.stock_level %></td>
    <% end %>
      <td><%= product.manufacturer %></td>
      <td>£ <%= sprintf('%.2f', product.buying_price) %></td>
      <td><%= sprintf('%.2f', product.markup * 100) %> % </td>
      <td>£ <%= sprintf('%.2f', product.retail_price) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div>
  <a class="link" href="/products/total">Show total stock value</a>
</div>

  
      
    
