<link rel="stylesheet" href="../style.css">
<table class="table" style="width:100%">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Category</th> 
      <th>Stock level</th>
      <th>Manufacturer</th>
      <th>Buying price</th>
      <th>Markup</th>
      <th>Retail price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.category %></td>
      <td id="low-stock"><%= product.stock_level %></td>
      <td><%= product.manufacturer %></td>
      <td>£ <%= sprintf('%.2f', product.buying_price) %></td>
      <td><%= sprintf('%.2f', product.markup * 100) %> % </td>
      <td>£ <%= sprintf('%.2f', product.retail_price) %></td>
    </tr>
    <% end %>
  </tbody>
</table>