<link rel="stylesheet" href="/style.css">
<div class="prod-deatils">
  <ul>
    <li>Product Name: <%= @product.name %></li>
    <li>Category: <%= @product.get_category_name %></li>
    <li>Manufacturer: <%= @product.manufacturer %></li>
    <li>Buying Price: <%= @product.buying_price %></li>
    <li>Markup: <%= sprintf('%.2f', @product.markup * 100) %>%</li>
    <li>Stock Level: <%= @product.stock_level %></li>
  </ul>
</div>
<p><a href="/products/<%= @product.id %>/edit">Edit product</a></p>
