<p>Product Name: <%= @product.name %></p>
<p>Category: <%= @product.category %></p>
<p>Manufacturer: <%= @product.manufacturer %></p>
<p>Buying Price: <%= @product.buying_price %></p>
<p>Markup: <%= @product.markup %></p>
<p>Stock Level: <%= @product.stock_level %></p>
<p><a href="/products/<%= @product.id %>/edit">Edit product</a></p>
</form>